h1 {
  color: white;
}

label {
  color: white;
}

form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  background-color: grey;
  padding: 20px;
  border-radius: 5px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: tomato;
  color: white;
  padding: 5px;
}

body {
  background-color: black;
}

p {
  color: white;
}
